version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: riwi-jobs-frontend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - VITE_API_URL=http://localhost:3000
      - VITE_API_KEY=angelica-secure-api-key-2026
